<form action="/info" method ="post">
  <label for="name">Please enter your name</label><br>
  <input type="text" name="name" id="name">
  <label for="birthday">Please enter your birthday</label><br>
  <input type="date" name="birthday" id="birthday">
  <input type="submit" value="Submit">
</form>