<form action="/result" method ="post">

  <input type="text" name="name" value="name">
  <label for="name">Please enter your name</label><br>
  <input type="date" name="date" value="date">
  <label for="name">Please enter your birthday</label><br>
  <input type="submit" value="Submit">
</form>