@font-face {
  font-family: 'BiotifBlack';
  src: url('fonts/Biotif-Black.ttf');
}

@font-face {
  font-family: 'BiotifBold';
  src: url('fonts/Biotif-Bold.ttf');
}

@font-face {
  font-family: 'BiotifBook';
  src: url('fonts/Biotif-Book.ttf');
}

body {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C5CBE3;
}

body>* {
  font-family: "BiotifBook";
  font-size: 1.5em;
}

h1 {
  font-family: 'BiotifBold';
  font-size: 3em;
  color: #4056A1;
  margin: 2vh;
}

h2 {
  font-family: 'BiotifBold';
  font-size: 2em;
  color: #4056A1;
  display: inline;
}

label {
  color: #4056A1;
  font-family: 'BiotifBold';
}

input, select {
  border: none;
  background-color: #F1F0EB;
  border-radius: 10px;
  padding: 5px;
  margin-top: 15px;
}

.input_form {
  padding: 2vh;
}

#name {
  width: 90%;
  height: 2vh;
}

#submit {
  width: 100%;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

input {
  font-family: "BiotifBook";
}

#submit input {
  background-color: #D89922;
  color: white;
  text-shadow: 1px 1px #F23C1F;
  font-size: large;
}

.results {
  width: 80vw;
  height: 40vh;
  text-align: center;
}

#daysleft {
  text-decoration: underline;
  text-decoration-color: #D89922;
  text-decoration-thickness: 10px;
  display: inline-block;
  animation: heartBeat;
  animation-duration: 2s;
}

.birthday {
  display: inline-block;
  animation: flash;
  animation-duration: 1s;
}